@import '../../base/index.scss';
@import './animate.scss';
html,body{
	width: 100%;
	height: 100%;
	background-color: #db3f3c;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
}
.glbYun1 {
	width: 10.48rem /* 262/25 */;
	position: absolute;
	right: -6.2rem /* 130/25 */;
	top: 94%;
	z-index: 40;
	transition: top 3s;
	&.active {
		top: -20px;
	}
}

.pageAnimate {
	display: none;
}

.xianhe2 {
	display: none;
	position: absolute;
	left: 0;
	top: -8.4rem /* 210/25 */;
	width: 100%;
	z-index: 40;
	&.active {

	}
}

.brief-cloud3 {
	position: absolute;
	bottom: -14rem /* 350/25 */;
	right: 0;
	width: 86.5%;
}
// page通用样式
.page {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}
img{
	pointer-events: none; 
	user-select:none;
}
// 加载页
.loading{
	z-index: 13;
	background-image: url(../images/loading.jpg);
	background-size: 100%;
	background-position: left top;
	background-color: #e2413f;
	.xingxing1 {
		width: 2.04rem /* 51/25 */;
		height: 2.16rem /* 54/25 */;
		position: absolute;
		left: 1.04rem /* 26/25 */;
		top: 11.32rem /* 283/25 */;
		z-index: 2;
	}
	.loadingBg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/loadingBg.png) no-repeat center;
		background-size: 100%;
	}
	.brief-cloud12{
		position: absolute;
		bottom: 0;
		right: -6.4rem /* 60/25 */;
		width: 10.48rem /* 262/25 */;
	}
	.loadingTitle{
		position: absolute;
		bottom: 7.6%;
		left: 0;
		width: 100%;
		img{
			display: block;
			margin: 0 auto;
		}
		.loading-circle{
			position: relative;
			width: .8rem;
			height: .8rem;
			margin: 0 auto .32rem;
			font-size: .48rem;
			color: #e6392a;
			span{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				line-height: .8rem;
			}
		}
		.loading1{
			width: 2.72rem;
		}
	}
	.yun1 {
		position: absolute;
		bottom: 3.52rem /* 88/25 */;
		left: -2.2rem /* 30/25 */;
		width: 4.88rem /* 122/25 */;
	}
	.yun2 {
		width: 9.28rem /* 232/25 */;
		position: absolute;
		right: -5.2rem /* 130/25 */;
		top: 6.4rem /* 160/25 */;
	}
}
//过度页
.guodu {
	z-index: 11;
	background-image: url(../images/bgMain.jpg);
	background-size: 100%;
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #e2413f;
}
// 简介页
.brief{
	z-index: 11;
	background-image: url(../images/bgMain.jpg);
	background-size: 100%;
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #e2413f;
	
	img{
		display: block;
		width: 100%;
	}
	.brief-dog{
		position: absolute;
		top: 14.4%;
		left: 0;
		width: 4.52rem;
	}
	.brief-cloud1{
		position: absolute;
		top: 0;
		right: -6.4rem /* 60/25 */;
		width: 10.48rem /* 262/25 */;
	}
	.brief-cloud2{
		position: absolute;
		top: 73.6%;
		left: 0;
		width: 4.04rem;
	}
	.brief-flower{
		position: absolute;
		top: 37.9%;
		right: 10.4%;
		width: 2.48rem;
	}
	.brief-word1{
		position: absolute;
		top: 18.9%;
		left: 50%;
		width: 8.4rem;
		transform: translate3d(-50%,0,0);
	}
	.brief-cloud3{
		position: absolute;
		bottom: -14rem /* 350/25 */;
		right: 0;
		width: 86.5%;
	}
	.brief-card{
		position: absolute;
		bottom: 0;
		right: 24.4%;
		width: 51.2%;
	}
}
// 填写讯页
.message{
	z-index: 11;
	background-image: url(../images/briefBg.png);
	img{
		display: block;
		width: 100%;
	}
	.message-tree{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.infoBoxZ {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .message-crane{
	// 	position: absolute;
	// 	top: 0;
	// 	left: 53.3%;
	// 	width: 1.24rem;
	// }
	.message-lantern{
		position: absolute;
		top: 6.1%;
		left: 72%;
		width: 3.6rem;
	}
	.message-word1{
		position: absolute;
		top: 23.8%;
		left: 50%;
		width: 4.48rem;
		transform: translate3d(-50%,0,0);
	}
	.message-box{
		position: absolute;
		top: 32%;
		left: 50%;
		z-index: 2;
		width: 10.48rem;
		transform: translate3d(-50%,0,0);
		.date{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			input{
				border: none;
				background: none;
				width: 2.8rem;
				text-align: right;
				font-size: .8rem;
				letter-spacing: .08rem;
				color: #dfdfdf;
				&.month{
					margin-left: .8rem;
					width: 1.32rem;
				}
			}
			span{
				margin-left: .2rem;
				font-size: .6rem;
				color: #dfdfdf;
			}
		}
	}
	.message-word2{
		position: absolute;
		top: 51.9%;
		left: 50%;
		width: 4.54rem;
		transform: translate3d(-50%,0,0);
	}
	.message-box2{
		position: absolute;
		top: 59.4%;
		left: 50%;
		z-index: 2;
		width: 10.48rem;
		transform: translate3d(-50%,0,0);
		.addr{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			input{
				border: none;
				background: none;
				text-align: center;
				font-size: .72rem;
				letter-spacing: .08rem;
				color: #dfdfdf;
			}
		}
	}
	.message-cloud1{
		position: absolute;
		top: 36%;
		left: 0;
		width: 6.92rem;
	}
	.message-bird{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 96.6%;
		// z-index: 3;
	}
	.message-cloud2{
		position: absolute;
		top: 85.7%;
		right: 0;
		width: 2.8rem;
	}
	.message-upload{
		position: absolute;
		top: 88.3%;
		left: 50%;
		z-index: 2;
		width: 7.24rem;
		transform: translate3d(-50%,0,0);
	}
}
// 模板页
.templet{
	z-index: 11;
	background-image: url(../images/briefBg.png);
	img{
		display: block;
		width: 100%;
	}
	.templet-tree{
		position: absolute;
		top: 0;
		left: 0;
		width: 13.72rem;
	}
	.templet-lantern{
		position: absolute;
		top: 0;
		left: 66.6%;
		width: 4.96rem;
	}
	.templet-lantern2{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 2.84rem;
		z-index: 2;
	}
	.templet-pine{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 7.6rem;
	}
	.templet-card{
		position: absolute;
		bottom: 2.9%;
		left: 21.6%;
		z-index: 2;
		width: 7.72rem;
	}
	.templet-lantern3{
		position: absolute;
		top: 49.9%;
		left: 75.7%;
		width: 2rem;
		z-index: 2;
	}
	.templet-cloud{
		position: absolute;
		top: 28.6%;
		right: 0;
		width: 5.6rem;
		// z-index: 2;
	}
	.arrow-left{
		position: absolute;
		top: 46.6%;
		left: 3.4%;
		z-index: 2;
		width: .88rem;
	}
	.arrow-right{
		position: absolute;
		top: 46.6%;
		right: 3.4%;
		z-index: 2;
		width: .88rem;
	}
	.slideWrapper {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		padding-bottom: 1.6rem /* 40/25 */;
		display: flex;
		align-items: center;
		justify-content: center;
	}	
	.uploadBox{
		width: 10.74rem;
		height: 16.32rem;
		position: relative;
		.swiper-container{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.upload-area{
				// position: absolute;
				// top: 15.5%;
				// left: 50%;
				// z-index: 1;
				// width: 10.74rem;
				// height: 16.32rem;
				// transform: translate3d(-50%,0,0);
				width: 100%;
				height: 100%;
				.upload-box{
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					.templetBg{
						display: block;
						max-width: 100%;
						width: auto;
					}
					&.upload-box1{
						background: url(../images/templet-bg1.png) #d8c6a9 no-repeat center center/100%;
					}
					&.upload-box2{
						background: url(../images/templet-bg2.png) no-repeat center center/100%;
					}
					&.upload-box3{
						background: url(../images/templet-bg3.png) no-repeat center center/100%;
					}
				}
				.templetImg{
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					width: 100%;
					height: 100%;
				}
				.word-area{
					position: absolute;
					top: 0;
					left: 0;
					z-index: 3;
					width: 100%;
					height: 100%;
					&.word-area1{
						.p1{
							position: absolute;
							top: 28%;
							left: 6.5%;
							font-size: .64rem;
							color: #4a351d;
							span{
								margin-left: .24rem;
								color: #d44040;
							}
						}
						.p2{
							position: absolute;
							top: 33.9%;
							left: 6.5%;
							font-size: .48rem;
							color: #4a351d;
						}
						.p3{
							position: absolute;
							top: 76.1%;
							left: 32.5%;
							font-size: .32rem;
							color: #4a351d;
						}
						.p4{
							position: absolute;
							top: 80.9%;
							left: 32.5%;
							width: 48.3%;
							font-size: .32rem;
							color: #4a351d;
							span{
								color: #df0606;
							}
						}
						.qrcodes{
							position: absolute;
							bottom: 9.5%;
							right: 3.6%;
							width: 1.4rem;
							height: 1.4rem;
							p{
								text-align: center;
								font-size: .28rem;
								color: #4a351d;
							}
							img{
								display: block;
								width: 100%;
							}
						}
					}
					&.word-area2{
						.vertical{
							position: absolute;
							top: 5.4%;
							left: 8%;
							height: 5.2rem;
							writing-mode:tb-rl;
							.word{
								padding: 0 .08rem;
								border-left: .02rem solid #3c0300;
								font-size: .36rem;
								color: #959595;
								span{
									color: #ff0000;
								}
							}
						}
						.p7{
							position: absolute;
							top: 44%;
							left: 59.2%;
							width: 2.8rem;
							text-align: center;
							letter-spacing: .2rem;
							font-size: .36rem;
							color: #f85645;
						}
						.qrcodes{
							position: absolute;
							bottom: 7.3%;
							right: 7.9%;
							width: 1.8rem;
							height: 1.8rem;
							p{
								text-align: center;
								font-size: .28rem;
								color: #616161;
							}
							img{
								display: block;
								width: 100%;
							}
						}
					}
					&.word-area3{
						.vertical{
							position: absolute;
							top: 69.3%;
							left: 41.5%;
							height: 5.2rem;
							writing-mode:tb-rl;
							.word{
								padding: 0 .08rem;
								font-size: .36rem;
								color: #df3f35;
								span{
									color: #595959;
								}
							}
						}
						.p7{
							position: absolute;
							top: 78%;
							left: 34%;
							// width: 2.8rem;
							// text-align: center;
							letter-spacing: .2rem;
							font-size: .36rem;
							color: #595959;
							writing-mode:tb-rl;
						}
						.qrcodes{
							position: absolute;
							bottom: 17.8%;
							left: 11.2%;
							width: 1.6rem;
							height: 1.6rem;
							p{
								text-align: center;
								font-size: .28rem;
								color: #dd453d;
							}
							img{
								display: block;
								width: 100%;
							}
						}
					}
				}
				// .fileUpload{
				// 	position: absolute;
				// 	left: 0;
				// 	top: 0;
				// 	z-index: 5;
				// 	display: block;
				// 	width: 100%;
				// 	height: 100%;
				// 	opacity: 0;
				// }
			}
		}
		.fileUpload{
			position: absolute;
			left: 0;
			top: 0;
			z-index: 5;
			display: block;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
	.qrcode{
		display: none;
	}
}
// 分享页
.share{
	z-index: 11;
	background-image: url(../images/shareBg.png);
	img{
		display: block;
		width: 100%;
	}
	.share-cloud2{
		position: absolute;
		top: 42.7%;
		right: 0;
		width: 4.4rem;
	}
	.result{
		position: absolute;
		top: 9.2%;
		left: 50%;
		z-index: 1;
		transform: translate3d(-50%,0,0);
		width: 10.8rem;
		img{
			pointer-events: auto;
		}
	}
	.shareResult{
		position: absolute;
		top: 9.2%;
		left: 50%;
		z-index: -1;
		transform: translate3d(-50%,0,0);
		width: 100px;
		height: 100px;
		overflow: hidden;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 10.88rem;
		}
	}
	.shareLogo{
		display: none;
	}
	.share-cloud1{
		position: absolute;
		top: 13.8%;
		left: 0;
		width: 3.28rem;
	}
	.share-pine{
		position: absolute;
		top: o;
		right: 0;
		z-index: 2;
		width: 8.4rem;
	}
	.share-logo{
		position: absolute;
		top: 1.4%;
		left: 3.2%;
		width: 3.36rem;
	}
	.share-stone{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.share-crane{
		position: absolute;
		bottom: 10.4%;
		right: 0;
		// z-index: 12;
		width: 4.2rem;
	}
	.share-mushroom{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
	}
	.share-btn{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate3d(-50%,0,0);
		width: 8.88rem;
	}
	.share-save{
		position: absolute;
		bottom: 18.2%;
		left: 50%;
		transform: translate3d(-50%,0,0);
		width: 3.4rem;
	}
}
// 分享遮罩页
.cover{
	display: none;
	z-index: 12;
	background: rgba(0,0,0,.8);
	img{
		display: block;
		width: 100%;
	}
	.cover-light{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.cover-cloud{
		position: absolute;
		top: 5.4%;
		right: 0;
		width: 4.96rem;
	}
	.cover-crane{
		position: absolute;
		top: 0.9%;
		right: 12%;
		width: 2.24rem;
	}
}
// 信息提示页
.messageCover{
	display: none;
	z-index: 12;
	background: rgba(0,0,0,.8);
	.warn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		img{
			display: block;
			width: 9.44rem;
		}
	}
}

.slide-container .slide-page {
	background-position: left top;
	margin: 0;
	padding: 0;
}

.slide-container .slide-page.transition {
	transition: all 3s;
}